
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<h1>hello</h1>
<br />
<hr />
<form method="get" action="AddStudent">
Name<input type="text" name="n1" /><br />
Address<textarea name="address"></textarea>
    <input type="submit" />
</form>