
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<hr />
<form method="get" action="Add">
    Number 1<input type="text" name="n1" />
    Number 2<input type="text" name="n2" />
    <input type="submit" value="Add" />

</form>