
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<div class="col-md-5">
    <div class="right-content">
        <div class="top-content">
            <h6>Register your free account and <em>get immediate</em> access to online courses</h6>
        </div>
        <form id="contact" action="" method="get">
            <div class="row">
                <div class="col-md-12">
                    <fieldset>
                        <input name="name" type="text" class="form-control" id="name" placeholder="Your Name" required=""><br /><br />
                    </fieldset>
                </div>
                <div class="col-md-12">
                    <fieldset>
                        <input name="email" type="text" class="form-control" id="email" placeholder="Your Email" required=""><br /><br />
                    </fieldset>
                </div>
                <div class="col-md-12">
                    <fieldset>
                        <input name="phone-number" type="text" class="form-control" id="phone-number" placeholder="Your Phone Number" required=""><br /><br />
                    </fieldset>
                </div>
                <div class="col-md-12">
                    <fieldset align="center">
                        <button type="submit" id="form-submit" class="button">Get it now</button>
                    </fieldset>
                </div>
            </div>
        </form>
    </div>
</div>